body {
  margin: 0;
  padding: 0;
}

#app {

}

#root-compositor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}

#top-tile {
  width: 100%;
  background-color: red;
  overflow: hidden;
}

#middle-tile {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100dvh - 96px);
}

#bottom-tile {
  width: 100%;
  background-color: red;
  overflow: hidden;
}

#left-tile {
  height: 100%;
  background-color: blue;
  overflow: hidden;
}

#right-tile {
  height: 100%;
  background-color: blue;
  overflow: hidden;
}

#main-tile {
  flex: 1;
  height: 100%;
  background-color: green;
}

#top-iframe,
#bottom-iframe,
#left-iframe,
#right-iframe,
#main-iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
}